@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #FFFFFF;
}
.carousel .legend {
  display: none;
}
.carousel .total {
  display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


.disabled-date {
  background-color: gray;
  color: black;
  /* Gaya CSS lainnya sesuai kebutuhan Anda */
}

.react-calendar__navigation {
	background-color: rgb(59 130 246);  color: white; /* Ganti dengan warna teks yang sesuai */
}

.MuiPickersCalendarHeader-root {
  background-color: #2196f3;
  height: 200px;
  border-radius: 5px;
}

/* .MuiPickersCalendarHeader-root css-nk89i7-MuiPickersCalendarHeader-root{
} */
.MuiDateCalendar-root{
  border: solid 1 black;
  background-color: white;
}

.MuiDateCalendar-root{
  background-color: #fafafa  ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(59 130 246);
}


/* Sembunyikan tombol input file asli */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}